<header>
    <div class="navbar">
        <a id="heading" routerLink="/">Aptitude Taker</a>
        <div class="navlinks">
            <a *ngIf="isRoleAdmin" class="navlink" routerLink="/adminHome">Home</a>
            <a *ngIf="!isRoleAdmin" class="navlink" routerLink="/">Home</a>
            <a *ngIf="isRoleAdmin" class="navlink" routerLink="/adminHome/categories">Categories</a>
            <a *ngIf="isRoleAdmin" class="navlink" routerLink="/adminHome/quizzes">Quizzes</a>
            <a *ngIf="isRoleAdmin" class="navlink" routerLink="/adminHome/addCategories">Add Categories</a>
            <a *ngIf="isRoleAdmin"  class="navlink" routerLink="/adminHome/createQuiz">Create Quiz</a>
            <a *ngIf="!isRoleAdmin" class="navlink" routerLink="/">Take Quiz</a>
            <a *ngIf="!isRoleAdmin" class="navlink" routerLink="/">ABOUT</a>
            <a *ngIf="!isRoleAdmin" class="navlink" routerLink="/">CONTACT</a>
        </div>

        <button *ngIf="!isLoggedIn" id="joinBtn" (click)="openHome()">
            JOIN NOW
        </button>

        <button *ngIf="isLoggedIn" id="joinBtn" (click)="logout()">
            LOGOUT
        </button>

    </div>
</header>
